body{
  background-color: #fafafa;
}

.nav-active{
  background-color: #13c8b5 !important;
}

.navbar-line{
  border-bottom: 3px solid #13c8b5;
}

.card-servicios{
  a{
    color: black;
    text-decoration: none;
  }
  p{
    text-align: justify;
  }
}