/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Signika+Negative&display=swap');

// font-family: 'Braah One', sans-serif; // title
// font-family: 'Signika Negative', sans-serif; // general

body{
  background-color: #fafafa;
  font-family: 'Signika Negative', sans-serif;
}

h1,h2,h3{
  font-family: 'Braah One', sans-serif;
}

.nav-active{
  background-color: #13c8b5 !important;
}

.navbar-line{
  border-bottom: 3px solid #13c8b5;
}