<div class="container mt-2">
  <div class="row">
    <div class="col-md-4">
      <div class="shadow bg-white p-3">
        <h3>Servicios</h3>
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="">Ingrese descripcion</label>
            <textarea class="form-control" formControlName="descripcion" cols="30" rows="10"></textarea>
          </div>
          <div class="mb-3">
            <label for="">Ingrese monto</label>
            <input type="text" class="form-control" formControlName="monto">
          </div>
          <div class="mb-3 d-grid">
            <button class="btn btn-success" (click)="store()" *ngIf="!isEdit">Agregar</button>
            <button class="btn btn-success" (click)="upgrade()" *ngIf="isEdit">Editar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 mb-2" *ngFor="let servicio of servicios">
          <div class="shadow bg-white p-4">
            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <h5 class="text-end p-2"><b>{{servicio.monto}} Bs</b></h5>
              </div>
            </div>
            <p>{{servicio.descripcion}}</p>
            <hr>
            <div class="text-end">
              <div class="btn-group">
                <button class="btn btn-primary" (click)="edit(servicio)">Editar</button>
                <button class="btn btn-danger" (click)="destroy(servicio.id)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>